.card-intro{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
       background-color: rgb(27, 82, 46);
       display: inline-block;
       margin-top: 20px;
       border-radius: 10px;
       margin-left: 17px;
       color: white;
   }
   .img-aiml{
       display: block;
   }
   
   .card-info{
       border: 3px solid ;
       border-color: rgb(0, 0, 0);
          margin-left: 17px;
          margin-top: 10px;
          margin-right: 4px;
          
      }
      .info{
       margin-left: 15px;
       margin-right: 3px;
      }
      .title{
        display: flex;
        align-items: center;
        gap: 200px;
       }
    
       .title-2{
        font-size: 26px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        margin-left: 380px;
       }
       .head{
        margin-left: -20px;
       }
       .mhssp{
        font-weight: bold;
        font-size: 20px;
        margin-left: 213px;
        margin-top: -30px;
       }
       .saboo{
        height: 130px;
        margin-left: 560px;
        margin-bottom: 20px;
       }
    
       .main-cont{
        border: 2px solid;
        border-color: black;
       }